@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

/* colors */

/* 
    Primary green : #57CE6A 
    Dark #1 : #121722
    Dark #2 : #171C28
*/

.text-green {
    color: #57ce6a !important;
}

.text-black {
    color: black;
}

.text-hover-green:hover {
    color: #57ce6a !important;
}

.bg-green {
    background-color: #57ce6a !important;
}

.bg-dark1 {
    background-color: #121722 !important;
}

.bg-dark2 {
    background-color: #171c28 !important;
}

.fw-5 {
    font-weight: 500;
}
.fw-6 {
    font-weight: 600;
}
.fw-7 {
    font-weight: 700;
}
.fw-8 {
    font-weight: 800;
}

/* body */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: #121722;
    letter-spacing: 0.7px;
}

.main-container {
    margin-left: 70px;
    padding: 30px;
    min-height: 100vh;
    max-width: 100vw;
}

hr {
    background-color: #19202f;
    height: 0.4px;
}

button {
    border: none !important;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none !important;
}

a {
    text-decoration: inherit;
    color: inherit;
}

a:hover {
    text-decoration: inherit;
    color: inherit;
}

.cursor-pointer {
    cursor: pointer;
}

.w-content {
    width: max-content;
}

/* Card */

.card-dark {
    border: none;
}

.card-dark .card-body {
    background-color: #171c28;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.15);
}

.card-dark .card-text {
    letter-spacing: 1px;
}

.card-retro {
    border: none;
    background-color: #00000000;
}

.card-retro .card-body {
    padding: 0;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.15);
    background-color: #57ce6a;
}

.card-retro-content {
    padding: 1.25rem;
    background-color: #171c28;
    transform: translateX(0) translateY(0);
    transition: transform 0.2s ease-in-out;
}

.card-retro:hover .card-retro-content {
    transform: translateX(4px) translateY(-4px);
    transition: transform 0.2s ease-in-out;
}

.card-login {
    margin-top: 50px;
}

.login-form button,
.login-form button:focus {
    border: none !important;
}

/* Forms */

.input-dark,
.input-dark:focus {
    border: none;
    outline: none;
    background-color: #121722;
    padding: 20px 15px;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.social-auth-button {
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.social-auth-button p {
    font-size: 18px;
}

.social-auth-button img {
    height: 22px;
    width: auto;
    transform: translateY(-3px);
}

/* sidebar */

.logo * {
    font-size: 35px;
}

.sidebar {
    z-index: 1000;
    background-color: #171c28;
    width: 70px;
    height: 100vh;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.15);
    position: fixed;
}

.navbar-active .navbar-item-icon {
    color: #57ce6a !important;
}

.navbar-item {
    cursor: pointer;
    border-radius: 5px;
}

.navbar-item .navbar-item-icon {
    font-size: 35px;
    color: #54607d;
}

.navbar-item:hover .navbar-item-icon {
    color: #57ce6a;
    transition: color 0.2s ease-in-out;
}

.navbar-item:hover .navbar-item-label {
    display: inline;
    transform: scale(1) translateX(30px);
    transition: transform 0.2s ease-in-out;
}

.navbar-item-label {
    position: absolute;
    transform: scale(0) translateX(0);
    transition: transform 0.2s ease-in-out;
    margin-top: 2px;
    color: #121722;
    padding: 8px 15px;
    font-weight: bold;
    letter-spacing: 1.5px;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.15);
    background-color: #57ce6a;
    border-radius: 5px;
}

/* Search */

.search {
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 2000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.search .col {
    margin: 50px;
}

.search form input {
    background-color: transparent;
    border: none;
    padding: 20px 0;
    color: white;
    font-size: 25px;
    width: 100%;
    border-bottom: 4px solid #57ce6a;
    margin: 0 auto;
}

.search form input:focus {
    outline: none;
}

/* posts */

.tag {
    padding: 7px 12px;
    /* border: 1px solid #57CE6A; */
    border-radius: 3px;
    margin: 0 15px 10px 0;
    color: #57ce6a;
}
